@use "../../_foundation/setting" as *;

//   letter-spacing
.u-ls-xl {
    letter-spacing: 0.2em;
}
.u-ls-lg {
    letter-spacing: 0.15em;
}
.u-ls-md {
    letter-spacing: 0.1em;
}
.u-ls-sm {
    letter-spacing: 0.03em;
}

// txt align
.u-txt-c {
    text-align: center;
}
.u-txt-c-sp {
    @include md {
        text-align: center;
    }
}
.u-txt-r {
    text-align: right;
}
.u-txt-l-sp {
    @include md {
        text-align: left;
    }
}
.u-txt-r-sp {
    @include md {
        text-align: right;
    }
}


// ==========================================================
// display
// ==========================================================
.u-block {
    display: block;
}

.u-pos-r {
    position: relative;
}
.u-pos-r-sp {
    @include md {
        position: relative !important;
    }
}


// ==========================================================
//   inner
// ==========================================================

%inner {
    position: relative;
    display: block;
    margin-inline: auto;
    width: 90%;
}

// コンテンツ幅ー基本
.u-inner {
    max-width: 1080px;
    @extend %inner;
}

.u-inner-wide {
    max-width: 1200px;
    @extend %inner;
}

.u-inner-1000 {
    max-width: 1000px;
    @extend %inner;
}

.u-inner-880 {
    max-width: 880px;
    @extend %inner;
}

.u-inner-half {
    max-width: 540px;
    @extend %inner;
}

// SPの時100％になるように
.u-inner-sp100 {
    @include md {
        width: 100% !important;
    }
}
// SPの時inner
.u-inner-sp90 {
    @include md {
        width: 90% !important;
        margin-inline: auto !important;
    }
}

// ------------------------------------------------------------
//   space
// ex) .u-pt-100
$space-tokens: (
    100: (45px, 100px),
    80 : (40px, 80px),
    75 : (35px, 75px),
    50 : (30px, 50px),
    40 : (20px, 40px),
    30 : (15px, 30px),
    20 : (10px, 20px),
    10 : (10px, 5px),
    5 : (5px, 3px),
);
$space-axes: (
    pt: padding-top,
    pb: padding-bottom,
    mt: margin-top,
    mb: margin-bottom
);
@each $key, $pair in $space-tokens {
    @each $abbr, $prop in $space-axes {
        .u-#{$abbr}-#{$key} {
            #{$prop}: clampCalc(nth($pair, 1), nth($pair, 2));
        }
    }
}

.u-pd-5 {
    padding: 5px;
}
.u-mt-auto {
    margin-top: auto;
}
.u-mi-auto {
    margin-inline: auto;
}
.u-mi-auto-sp {
    @include md {
        margin-inline: auto;
    }
}

// ==========================================================
//   width
// ==========================================================
.u-w50 {
    width: 50%;
}
.u-w50-sp {
    @include md {
        width: 50%;
    }
}
.u-w75 {
    width: 75%;
}
.u-w75-sp {
    @include md {
        width: 75%;
    }
}
.u-w100 {
    width: 100%;
}
.u-w100-sp {
    @include md {
        width: 100%;
    }
}
.u-w-fit {
    width: fit-content;
}

// ==========================================================
//   flex
// ==========================================================

.u-container {
    container-type: inline-size; 
}

.u-flex-col {
    display: flex;
    flex-direction: column;
}
.u-flex-col-sp {
    @include md {
        display: flex !important;
        flex-direction: column !important;
    }
}
.u-flex-row {
    display: flex;
    flex-direction: row;
}
.u-flex-row-sp {
    @include md {
        display: flex !important;
        flex-direction: row !important;
    }
}

.u-flex-1 {
    flex: 1;
}

.u-align-self-end {
    align-self: flex-end;
}
.u-align-ct {
    align-items: center;
}
.u-align-self-ct {
    align-self: center;
}
.u-justify-self-end {
    justify-self: flex-end;
}
.u-justify-ct {
    justify-items: center;
}
.u-justify-self-ct {
    justify-self: center;
}
