html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  font-size: clamp(1.4rem, 13.1428571429px + 0.2197802198vw, 1.6rem);
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "palt";
  color: #222;
  overflow-x: hidden;
  min-width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: relative;
}
body.js-ready {
  opacity: 1;
}

main {
  overflow: hidden;
}

i {
  font-style: normal;
  display: inline-block;
}
@media (max-width: 768px) {
  i .mod--pc {
    display: unset !important;
  }
}

em {
  font-style: normal;
}

article,
aside,
figure,
figcaption,
footer,
header,
nav,
section,
main {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover, a:visited, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  border: 0;
  padding: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

img {
  vertical-align: bottom;
  line-height: 1;
  width: 100%;
}

button {
  all: unset;
  font: inherit;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8;
  cursor: pointer;
  margin: 0em;
  border: none;
  outline: none;
  border-radius: 0px;
}

label {
  cursor: pointer;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

a:hover {
  color: inherit;
}

a:hover img {
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-size: unset;
  font-weight: unset;
}

.u-em-110 {
  font-size: 1.1em !important;
}

.u-em-120 {
  font-size: 1.2em !important;
}

.u-em-130 {
  font-size: 1.3em !important;
}

.u-fs-26 {
  font-size: clamp(20px, 17.4285714286px + 0.6593406593vw, 26px) !important;
}

.u-fs-24 {
  font-size: clamp(19px, 16.8571428571px + 0.5494505495vw, 24px) !important;
}

.u-fs-22 {
  font-size: clamp(18px, 16.2857142857px + 0.4395604396vw, 22px) !important;
}

.u-fs-20 {
  font-size: clamp(17px, 15.7142857143px + 0.3296703297vw, 20px) !important;
}

.u-fs-18 {
  font-size: clamp(16px, 15.1428571429px + 0.2197802198vw, 18px) !important;
}

.u-fs-16 {
  font-size: clamp(14px, 13.1428571429px + 0.2197802198vw, 16px) !important;
}

.u-fs-14 {
  font-size: clamp(12px, 11.1428571429px + 0.2197802198vw, 14px) !important;
}

.u-fs-12 {
  font-size: clamp(10px, 9.1428571429px + 0.2197802198vw, 12px) !important;
}

.u-fs-10 {
  font-size: clamp(8px, 7.1428571429px + 0.2197802198vw, 10px) !important;
}

@media (max-width: 768px) {
  .u-fs-12-sp {
    font-size: 12px !important;
  }
}

.u-lh-100 {
  line-height: 1;
}

.u-lh-120 {
  line-height: 1.2;
}

.u-lh-140 {
  line-height: 1.4;
}

.u-lh-160 {
  line-height: 1.6;
}

.u-lh-200 {
  line-height: 2;
}

.u-lh-250 {
  line-height: 2.5;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

@media (max-width: 768px) {
  .u-spTop {
    padding-top: 60px;
    background-color: #ffffff;
  }
}

.cms-hide {
  display: none !important;
}

.u-tb {
  display: none !important;
}

.u-sp {
  display: none !important;
}

.u-tbsp {
  display: none !important;
}

.u-sm {
  display: none !important;
}

@media (max-width: 1200px) {
  .u-pc {
    display: none !important;
  }
  .u-tb {
    display: block !important;
  }
  .u-sp {
    display: none !important;
  }
  .u-tbsp {
    display: block !important;
  }
  .u-sm {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .u-pc {
    display: none !important;
  }
  .u-tb {
    display: none !important;
  }
  .u-sp {
    display: block !important;
  }
  .u-pctb {
    display: none !important;
  }
  .u-tbsp {
    display: block !important;
  }
  .u-sm {
    display: none !important;
  }
}
@media (max-width: 440px) {
  .u-sm {
    display: block !important;
  }
}
.screen-reader-text:not(:focus):not(:active) {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #000;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px #000;
  clip: auto !important;
  clip-path: none;
  color: #fff;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.skipNav {
  position: absolute;
  top: -26px;
  left: 0;
  z-index: 9999;
  transition: top 0.3s;
  display: inline-block;
  font-size: 13px;
  padding: 1px 10px;
  height: 26px;
  overflow: hidden;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0 0 8px 8px;
  background: #665ABE;
}
.skipNav:focus {
  color: #ffffff;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
}

.u-ls-xl {
  letter-spacing: 0.2em;
}

.u-ls-lg {
  letter-spacing: 0.15em;
}

.u-ls-md {
  letter-spacing: 0.1em;
}

.u-ls-sm {
  letter-spacing: 0.03em;
}

.u-txt-c {
  text-align: center;
}

@media (max-width: 768px) {
  .u-txt-c-sp {
    text-align: center;
  }
}

.u-txt-r {
  text-align: right;
}

@media (max-width: 768px) {
  .u-txt-l-sp {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .u-txt-r-sp {
    text-align: right;
  }
}

.u-block {
  display: block;
}

.u-pos-r {
  position: relative;
}

@media (max-width: 768px) {
  .u-pos-r-sp {
    position: relative !important;
  }
}

.u-inner-half, .u-inner-880, .u-inner-1000, .u-inner-wide, .u-inner {
  position: relative;
  display: block;
  margin-inline: auto;
  width: 90%;
}

.u-inner {
  max-width: 1080px;
}

.u-inner-wide {
  max-width: 1200px;
}

.u-inner-1000 {
  max-width: 1000px;
}

.u-inner-880 {
  max-width: 880px;
}

.u-inner-half {
  max-width: 540px;
}

@media (max-width: 768px) {
  .u-inner-sp100 {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .u-inner-sp90 {
    width: 90% !important;
    margin-inline: auto !important;
  }
}

.u-pt-100 {
  padding-top: clamp(45px, 21.4285714286px + 6.043956044vw, 100px);
}

.u-pb-100 {
  padding-bottom: clamp(45px, 21.4285714286px + 6.043956044vw, 100px);
}

.u-mt-100 {
  margin-top: clamp(45px, 21.4285714286px + 6.043956044vw, 100px);
}

.u-mb-100 {
  margin-bottom: clamp(45px, 21.4285714286px + 6.043956044vw, 100px);
}

.u-pt-80 {
  padding-top: clamp(40px, 22.8571428571px + 4.3956043956vw, 80px);
}

.u-pb-80 {
  padding-bottom: clamp(40px, 22.8571428571px + 4.3956043956vw, 80px);
}

.u-mt-80 {
  margin-top: clamp(40px, 22.8571428571px + 4.3956043956vw, 80px);
}

.u-mb-80 {
  margin-bottom: clamp(40px, 22.8571428571px + 4.3956043956vw, 80px);
}

.u-pt-75 {
  padding-top: clamp(35px, 17.8571428571px + 4.3956043956vw, 75px);
}

.u-pb-75 {
  padding-bottom: clamp(35px, 17.8571428571px + 4.3956043956vw, 75px);
}

.u-mt-75 {
  margin-top: clamp(35px, 17.8571428571px + 4.3956043956vw, 75px);
}

.u-mb-75 {
  margin-bottom: clamp(35px, 17.8571428571px + 4.3956043956vw, 75px);
}

.u-pt-50 {
  padding-top: clamp(30px, 21.4285714286px + 2.1978021978vw, 50px);
}

.u-pb-50 {
  padding-bottom: clamp(30px, 21.4285714286px + 2.1978021978vw, 50px);
}

.u-mt-50 {
  margin-top: clamp(30px, 21.4285714286px + 2.1978021978vw, 50px);
}

.u-mb-50 {
  margin-bottom: clamp(30px, 21.4285714286px + 2.1978021978vw, 50px);
}

.u-pt-40 {
  padding-top: clamp(20px, 11.4285714286px + 2.1978021978vw, 40px);
}

.u-pb-40 {
  padding-bottom: clamp(20px, 11.4285714286px + 2.1978021978vw, 40px);
}

.u-mt-40 {
  margin-top: clamp(20px, 11.4285714286px + 2.1978021978vw, 40px);
}

.u-mb-40 {
  margin-bottom: clamp(20px, 11.4285714286px + 2.1978021978vw, 40px);
}

.u-pt-30 {
  padding-top: clamp(15px, 8.5714285714px + 1.6483516484vw, 30px);
}

.u-pb-30 {
  padding-bottom: clamp(15px, 8.5714285714px + 1.6483516484vw, 30px);
}

.u-mt-30 {
  margin-top: clamp(15px, 8.5714285714px + 1.6483516484vw, 30px);
}

.u-mb-30 {
  margin-bottom: clamp(15px, 8.5714285714px + 1.6483516484vw, 30px);
}

.u-pt-20 {
  padding-top: clamp(10px, 5.7142857143px + 1.0989010989vw, 20px);
}

.u-pb-20 {
  padding-bottom: clamp(10px, 5.7142857143px + 1.0989010989vw, 20px);
}

.u-mt-20 {
  margin-top: clamp(10px, 5.7142857143px + 1.0989010989vw, 20px);
}

.u-mb-20 {
  margin-bottom: clamp(10px, 5.7142857143px + 1.0989010989vw, 20px);
}

.u-pt-10 {
  padding-top: clamp(5px, 2.8571428571px + 0.5494505495vw, 10px);
}

.u-pb-10 {
  padding-bottom: clamp(5px, 2.8571428571px + 0.5494505495vw, 10px);
}

.u-mt-10 {
  margin-top: clamp(5px, 2.8571428571px + 0.5494505495vw, 10px);
}

.u-mb-10 {
  margin-bottom: clamp(5px, 2.8571428571px + 0.5494505495vw, 10px);
}

.u-pt-5 {
  padding-top: clamp(3px, 2.1428571429px + 0.2197802198vw, 5px);
}

.u-pb-5 {
  padding-bottom: clamp(3px, 2.1428571429px + 0.2197802198vw, 5px);
}

.u-mt-5 {
  margin-top: clamp(3px, 2.1428571429px + 0.2197802198vw, 5px);
}

.u-mb-5 {
  margin-bottom: clamp(3px, 2.1428571429px + 0.2197802198vw, 5px);
}

.u-pd-5 {
  padding: 5px;
}

.u-mt-auto {
  margin-top: auto;
}

.u-mi-auto {
  margin-inline: auto;
}

@media (max-width: 768px) {
  .u-mi-auto-sp {
    margin-inline: auto;
  }
}

.u-w50 {
  width: 50%;
}

@media (max-width: 768px) {
  .u-w50-sp {
    width: 50%;
  }
}

.u-w75 {
  width: 75%;
}

@media (max-width: 768px) {
  .u-w75-sp {
    width: 75%;
  }
}

.u-w100 {
  width: 100%;
}

@media (max-width: 768px) {
  .u-w100-sp {
    width: 100%;
  }
}

.u-w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.u-container {
  container-type: inline-size;
}

.u-flex-col {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .u-flex-col-sp {
    display: flex !important;
    flex-direction: column !important;
  }
}

.u-flex-row {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .u-flex-row-sp {
    display: flex !important;
    flex-direction: row !important;
  }
}

.u-flex-1 {
  flex: 1;
}

.u-align-self-end {
  align-self: flex-end;
}

.u-align-ct {
  align-items: center;
}

.u-align-self-ct {
  align-self: center;
}

.u-justify-self-end {
  justify-self: flex-end;
}

.u-justify-ct {
  justify-items: center;
}

.u-justify-self-ct {
  justify-self: center;
}

[data-ani] {
  --ani-delay: 0s;
  --ani-duration: 1.5s;
  pointer-events: none;
}
[data-ani].is-animated-done {
  pointer-events: auto;
}

.ani-width {
  width: 0;
  transition: width var(--ani-duration) cubic-bezier(0.42, 0, 0.58, 1) var(--ani-delay);
}
.ani-width.is-animated {
  width: 100%;
}

.ani-blur {
  filter: blur(10px);
  transition: opacity var(--ani-duration) cubic-bezier(0.42, 0, 0.58, 1) var(--ani-delay), transform var(--ani-duration) cubic-bezier(0.42, 0, 0.58, 1) var(--ani-delay), filter var(--ani-duration) cubic-bezier(0.42, 0, 0.58, 1) var(--ani-delay);
}
.ani-blur.is-animated {
  filter: blur(0);
}

.ani-br, .ani-br-s {
  will-change: filter;
  filter: brightness(1.3);
  transition: filter var(--ani-duration) cubic-bezier(0.303, 0.475, 0.72, 0.819) var(--ani-delay);
}
.ani-br.is-animated, .is-animated.ani-br-s {
  filter: brightness(1);
}
.ani-br.ani-blur, .ani-blur.ani-br-s {
  filter: brightness(1.3) blur(10px);
}
.ani-br.ani-blur.is-animated, .ani-blur.is-animated.ani-br-s {
  filter: brightness(1) blur(0);
}
.ani-br-s {
  filter: brightness(1.8);
}
.ani-br-s.is-animated {
  filter: brightness(1);
}
.ani-br-s.ani-blur {
  filter: brightness(1.8) blur(10px);
}
.ani-br-s.ani-blur.is-animated {
  filter: brightness(1) blur(0);
}

.ani-fade, .ani-fade-left-s, .ani-fade-left, .ani-fade-right-s, .ani-fade-right, .ani-fade-down-s, .ani-fade-down-full, .ani-fade-down, .ani-fade-up-s, .ani-fade-up {
  opacity: 0;
  transition: opacity var(--ani-duration) cubic-bezier(0.42, 0, 0.58, 1) var(--ani-delay), transform var(--ani-duration) cubic-bezier(0.42, 0, 0.58, 1) var(--ani-delay), filter var(--ani-duration) cubic-bezier(0.42, 0, 0.58, 1) var(--ani-delay);
}
.ani-fade.is-animated, .is-animated.ani-fade-left-s, .is-animated.ani-fade-left, .is-animated.ani-fade-right-s, .is-animated.ani-fade-right, .is-animated.ani-fade-down-s, .is-animated.ani-fade-down-full, .is-animated.ani-fade-down, .is-animated.ani-fade-up-s, .is-animated.ani-fade-up {
  opacity: 1;
}
.ani-fade-up {
  transform: translateY(15px);
}
.ani-fade-up.is-animated {
  transform: translateY(0);
}
.ani-fade-up-s {
  transform: translateY(30px);
}
.ani-fade-up-s.is-animated {
  transform: translateY(0);
}
.ani-fade-down {
  transform: translateY(-15px);
}
.ani-fade-down.is-animated {
  transform: translateY(0);
}
.ani-fade-down-full {
  transform: translateY(-100%);
}
.ani-fade-down-full.is-animated {
  transform: translateY(0);
}
.ani-fade-down-s {
  transform: translateY(-30px);
}
.ani-fade-down-s.is-animated {
  transform: translateY(0);
}
.ani-fade-right {
  transform: translateX(-15px);
}
.ani-fade-right.is-animated {
  transform: translateX(0);
}
.ani-fade-right-s {
  transform: translateX(-30px);
}
.ani-fade-right-s.is-animated {
  transform: translateX(0);
}
.ani-fade-left {
  transform: translateX(15px);
}
.ani-fade-left.is-animated {
  transform: translateX(0);
}
.ani-fade-left-s {
  transform: translateX(30px);
}
.ani-fade-left-s.is-animated {
  transform: translateX(0);
}

.ani-scale {
  transform: scale(0.6);
  transform-origin: center;
  transition: opacity var(--ani-duration) cubic-bezier(0.42, 0, 0.58, 1) var(--ani-delay), transform var(--ani-duration) cubic-bezier(0.42, 0, 0.58, 1) var(--ani-delay);
}
.ani-scale.is-animated {
  transform: scale(1);
}

.ani-zoom {
  transform: scale(1.2);
  transform-origin: center;
  transition: transform var(--ani-duration) cubic-bezier(0.07, 0.09, 0.09, 0.62) var(--ani-delay);
}
.ani-zoom.is-animated {
  transform: scale(1);
}

.ani-clip, .ani-clip-full {
  clip-path: inset(0 100% 0 0);
  opacity: 0;
  transition: all var(--ani-duration) ease-in-out var(--ani-delay);
  will-change: clip-path;
}
@media (max-width: 768px) {
  .ani-clip-full {
    transition: all calc(var(--ani-duration) / 2) cubic-bezier(0.07, 0.09, 0.09, 0.62) calc(var(--ani-delay) / 2);
  }
}
.ani-clip.is-animated, .is-animated.ani-clip-full {
  opacity: 1;
  clip-path: inset(0);
}/*# sourceMappingURL=style.css.map */