@use "../../_foundation/setting" as *;

// FONT SIZE
// default : PC 16px - SP 14px
.u-em-110 {
    font-size: 1.1em !important;
}
.u-em-120 {
    font-size: 1.2em !important;
}
.u-em-130 {
    font-size: 1.3em !important;
}

.u-fs-26 {
    font-size: clampCalc(26px, 20px) !important;
}
.u-fs-24 {
    font-size: clampCalc(24px, 19px) !important;
}
.u-fs-22 {
    font-size: clampCalc(22px, 18px) !important;
}
.u-fs-20 {
    font-size: clampCalc(20px, 17px) !important;
}
.u-fs-18 {
    font-size: clampCalc(18px, 16px) !important;
}
.u-fs-16 {
    font-size: clampCalc(16px, 14px) !important;
}
.u-fs-14 {
    font-size: clampCalc(14px, 12px) !important;
}
.u-fs-12 {
    font-size: clampCalc(12px, 10px) !important;
}
.u-fs-10 {
    font-size: clampCalc(10px, 8px) !important;
}

.u-fs-12-sp {
    @include md {
        font-size: 12px !important;
    }
}

// line height
.u-lh-100 {
    line-height: 1;
}
.u-lh-120 {
    line-height: 1.2;
}
.u-lh-140 {
    line-height: 1.4;
}
.u-lh-160 {
    line-height: 1.6;
}
.u-lh-200 {
    line-height: 2;
}
.u-lh-250 {
    line-height: 2.5;
}
